body {
    padding-left : 30px;
    padding-top: 10px;
    
    
}
h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav {
    padding-left: 40px;
}

p , nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}